<p id="notice"><%= notice %></p>

<h1>Admin Roles</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td>
          <% user.user_roles.role.role.each do |role| %>
          <%= role %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>